<<<<<<< HEAD
<div class="banner">
  <i class="app-icon fa-solid fa-bomb">&nbsp;Tracks</i>
  <br>
    <div>
      <h3 class="greeting">&nbsp;Hi Amanda
        <h4>View a list with all your sessions here</h4>
          <%# <%= current_user.first_name %>
          <img class="avatar" src=https://ca.slack-edge.com/T02NE0241-U0531H665K8-0ad20ef179f8-512 alt="YourAvatar">
      </h3>
      <br>
    </div>
</div>

=======
<h1>View a list with all your sessions here</h1>

<div id="sessions">
<ol>
  <% @sessions.each do |session| %>
    <%= link_to exercise_session_path(session) do %>
      <li><%= session.title %></li>
    <% end %>
  <% end %>
</ol>
</div>
>>>>>>> master
