<button class="btn btn-outline-dark mt-2 mb-2 dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%=block.id%>" aria-expanded="false" aria-controls="collapseExample">
    <strong><%= "#{sets.length} x #{
      repetitions = sets.map { |set| set.repetitions }
      if repetitions.uniq.size <= 1
        repetitions[0]
      else
        repetitions.join("/")
      end
    }" %></strong></i>
</button>
