// Specific CSS for your home-page
.greeting{
  color: white;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
}
.greeting-index{
  color: white;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
