// Specific CSS for your home-page
.greeting{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
