.block-container {
  width: 100%;
  left: 0;
  padding: 0;
}

.block-card {
  width: 95%;
  margin-left: 2.5%;
  background-color: rgb(255, 255, 255);
  margin-top: 11px;
  padding: 10px 1px 17px 15px;
  border-radius: 6px;
  box-shadow: 0px 0px 8px #D3DEE3;
}

.block-header {
  margin-bottom: 0;
  align-items: center;
}

.block-header li {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  list-style-type: none;
}

.block-title-flex {
  display: flex;
}

.block-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0ECCF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5em;
  margin-right: 10px;
}

.block-category {
  margin-bottom: 0;
  width: fit-content;
  background-color: #6150C1;
  color: white;
  padding: 2px 10px 2px 10px;
  border-radius: 150px;
}

.block-info, .set-info, .block-header {
  display: flex;
  width: 96%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.set-info {
  margin: 5px;
  padding: 10px 15px 8px 15px;
  background-color: rgba(170, 121, 185, 0.2);
  border-radius: 4px;
}

.block-controls {
  display: flex;
  justify-content: flex-end;
}

.btn-delete {
  margin-right: 15px;
}

.btn-delete:hover {
  cursor: pointer;
}

.set-index {
  display: block;
}

.extra-set-fields p {
  margin-bottom: 2px;
}

.form-wrapper, .custom-field-wrapper {
  display: inline;
}

.custom-field-form {
  display: inline;
  width: 40%;
  margin-bottom: 25px;
}

.custom-field-form::placeholder {
  opacity: 0.5;
}

.custom-field-btn {
  display: inline;
}

.custom-field-btn:hover {
  cursor: pointer;
}

.purple-black {
  color: #4A3764;
}
