.session-banner {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.session-banner p {
  color: white !important;
  text-shadow: 2px 2px 4px rgb(29, 29, 30);
}

.session-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.image-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(#444343, #121213);
  opacity: 0.2;
  left: 0;
  top: 0;
  z-index: -1;
}

.session-banner h1 {
  text-shadow: 2px 2px 4px rgb(29, 29, 30);
  font-size: 1.8em;
  color: white !important;
}

#edit-session-dropdown {
  transform: translate3d(-35px, 18px, 0px) !important;
  border-radius: 10px 0px 10px 10px;
}

.session-menu {
  height: 28px;
  width: 28px;
  font-size: 1.8em;
  position: absolute;
  right: 24px;
  top: 10px;
}

.session-menu a {
  color: white;
}

.dropdown-item {
  color: black !important;
}

.wrapper {
  text-align: center;
}

.wrapper .block-category{
  margin: 0 auto;
  box-shadow: 0px 0px 8px #393838;
}

.block-container {
  width: 100%;
  left: 0;
  padding: 0;
  margin-bottom: 11px;
}

.block-card {
  width: 95%;
  margin-left: 2.5%;
  background-color: rgb(255, 255, 255);
  margin-top: 11px;
  padding: 10px 1px 17px 15px;
  border-radius: 6px;
  box-shadow: 0px 0px 8px #D3DEE3;
}

.block-header {
  margin-bottom: 0;
  align-items: center;
}

.block-header li {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  list-style-type: none;
}

.block-title-flex {
  display: flex;
}

.block-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0ECCF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5em;
  margin-right: 10px;
}

.block-category {
  margin-bottom: 0;
  width: fit-content;
  background-color: #6150C1;
  color: white;
  padding: 2px 10px 2px 10px;
  border-radius: 150px;
}

.block-info, .set-info, .block-header {
  display: flex;
  width: 96%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.set-info {
  width: 94%;
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px 15px 8px 15px;
  // background-color: rgba(170, 121, 185, 0.2);
  border: 1px solid black;
  border-radius: 4px;
  align-items: center;
}

.sets-extended-view {
  margin-top: 20px;
  margin-bottom: 10px;
}

.block-controls {
  display: flex;
  justify-content: flex-end;
}

.btn-delete:hover {
  cursor: pointer;
}

.block-controls .btn-delete {
  margin-right: 15px;
}

.set-index {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0ECCF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.2em;
}

.extra-block-fields p {
  margin-bottom: 3px;
}

.extra-block-fields {
  margin-top: 10px;
}

.extra-set-fields {
  width: 75%;
}

.extra-set-fields p {
  margin-bottom: 2px;
}

.form-wrapper, .custom-field-wrapper {
  display: inline;
}

.form-wrapper p {
  margin-bottom: 0.5rem;
}

.custom-field-form {
  display: inline;
  width: 42%;
  margin-bottom: 25px;
}

.block-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
}

.custom-field-form::placeholder {
  opacity: 0.5;
}

.custom-field-btn {
  display: inline;
  margin-left: 5px;
}

.custom-field-btn:hover {
  cursor: pointer;
}

.add-block-btn {
  width: 95%;
  margin-left: 2.5%;
  border-radius: 6px;
  background-color: #2498CB;
  color: white;
}

.add-set-btn {
  width: 94%;
  margin-left: 5px;
  border-radius: 6px;
  background-color: #2498CB;
  color: white;
}

.add-block-btn:hover, .add-set-btn:hover {
  background-color: #2498CB;
  color: white;
}

.set-fixed-inputs {
  display: flex;
  width: 94%;
  margin-bottom: -10px;
}

.exercise_set_weight, .exercise_set_distance {
  margin-left: 8px
}

.show-sets-btn {
  border-radius: 4px !important;
}

.btn-outline-dark {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #212529 !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #212529 !important;
  --bs-btn-active-bg: transparent !important;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
  --bs-gradient: none;
}

.purple-black {
  color: #4A3764;
}

.red {
  background-color: #EE4121;
}

.purple {
  background-color: #6150C1;
}

.yellow {
  background-color: #FFB100;
}

.cyan {
  background-color: #48F3DB;
}

#editSessionModal .header-duplicate {
  display: none;
}

#editSessionModal form {
  text-align: left;
}

#editSessionModal .modal-body .container-duplicate {
  padding-top: 0;
}

#editSessionModal label {
  color: black;
}
