.block-container {
  width: 100%;
  left: 0;
  padding: 0;
}

.block-card {
  width: 100%;
  background-color: rgb(214, 220, 230);
  margin-bottom: 20px;
  padding: 15px;
  padding-left: 30px;
}

.block-header {
  padding-left: 10px;
}
