<div class="banner">
  <div class="d-flex justify-content-between">
    <i class="app-icon fa-solid fa-bomb">&nbsp;Tracks</i>
    <i class="login fa-solid fa-arrow-right-to-bracket"></i>
  </div>
  <br>
  <div>
    <h3 class="greeting">&nbsp;Hi Amanda
        <%# <%= current_user.first_name %>
        <img class="avatar" src=https://ca.slack-edge.com/T02NE0241-U0531H665K8-0ad20ef179f8-512 alt="YourAvatar">
    </h3>
    <br>
  </div>
</div>
<div class="container">
  <h6 class="header-dash">Last Sessions</h6>
  <i class="fa-regular fa-pen-to-square"></i>
  <i class="fav-icon fa-regular fa-heart"></i>
  <hr>

  <h6 class="header-dash">Following</h6>
  <i class="fa-regular fa-pen-to-square"></i>

<i class="plus-icon fa-solid fa-circle-plus"></i>
</div>
