<h1>View a list with all your sessions here</h1>

<div>
  <% @sessions.each do |session| %>
      <%= link_to exercise_session_path(session) do %>
        <div id="small_card">
         <%= image_tag(session.photo, alt: "a nice sports session", class: "image-round") %>
          <%= session.title %></li>
        <% end %>
    <% end %>
</div>
