<div class="banner">
  <div class="d-flex justify-content-between">
    <i class="app-icon fa-solid fa-bomb">&nbsp;Tracks</i>
  </div>
  <br>
    <div>
      <h3 class="greeting">Hi&nbsp;<%= current_user.username %>
          <img class="avatar" src=https://ca.slack-edge.com/T02NE0241-U0531H665K8-0ad20ef179f8-512 alt="YourAvatar">
      </h3>
      <br>
    </div>
</div>

<div class="container">
  <div class="sessions">
    <% @sessions.each do |session| %>
      <%= link_to exercise_session_path(session), class: "session-card"  do %>
        <% if session.photo %>
          <%= image_tag(session.photo, alt:"a nice sports session", class: "image-round") %>
        <% else %>
          <p class="image-placeholder"></p>
        <% end %>
        <%= session.title %>
        <div class="session-icon">
            <i class="fa-regular fa-pen-to-square"></i>
            <i class="fav-icon fa-regular fa-heart"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
