.sessions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.session-card {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.session-icon {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
