.header-duplicate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBC252;
  height: 80px;
  letter-spacing: 4px;
  color: white;
  // z-index: 10;
}
.card-duplicate {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.container-duplicate{
  padding: 15px;
  width: 100%;
}
.new_session label {
  margin-bottom: 6px;
}
.form-label {
  font-size: 18px;
}
.form-select {
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: white;
  border-radius: 8px;
}
.form-control {
  background-color: white;
  margin-bottom: 8px
}
.form-control.is-valid {
  background-color: white;
}
.select.is-valid {
  background-color: white;
}
.form-select.is-valid {
  background-color: white;
  border-radius: 8px;
}
.btn-create {
  justify-content: center;
  width: 88px;
  height: 40px;
  border: 4px;
  background-color: #FBC252;
  border-radius: 8px;
  letter-spacing: 1px;
}
.btn-back {
  z-index: 20;
  color: white;
  height: 28px;
  width: 28px;
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 16px;
  border-radius: 50%;
}
