.app-icon {
  font-size: 12px;
  margin-top: 8px;
  margin-left: 8px;
}
.plus-icon {
  margin: 20px;
  color: #272121;
  font-size: 40px;
  position: fixed;
  bottom: 0px;
  right: 0;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 28px;
  // opacity: 0.5;
}
.icons a {
  color: #E57C23;
}
.bottom-icon {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
