.image-round{
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-bottom: 8px;
  // border: grey 2px solid;
}

.image-round-small{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-bottom: 8px;
  // border: grey 2px solid;
}
